<div class="row">
  <div class="col-3">
    <div class="sticky-top">
      <div class="list-group">

          <a 
      
            routerLink= "/videos"
            class="list-group-item list-group-item-action">
            Videos
          </a> 
        <a 
            routerLink= "/videos"
            
            class="list-group-item list-group-item-action">
          create videos 
        </a>
      </div> 
     </div>
  </div>
  <div class="col"> 
     <div class="row">
      <app-vgallery></app-vgallery>
       </div>
       
  </div> 
</div>
