<div class="row">
  <div class="col-md-6">
        <form #f= "ngForm" (ngSubmit)="save(f.value)">
    <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]= "video.title" name="title" id="title" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
            video Title is required.
        </div>
    </div>

    <div class="form-group">
        <label for="description">description</label>
        <input #description="ngModel" [(ngModel)]= "video.description" name="description" id="description" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
            description is required.
        </div>
    </div>

    <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input #imageUrl="ngModel" [(ngModel)]= "video.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
    </div>
    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
        <div *ngIf="imageUrl.errors.required" >  ImageUrl is required.</div>  
        <div *ngIf="imageUrl.errors.url" >  Please enter a valid URL.</div>    
    </div>

    <div class="form-group">
        <label for="videoUrl">Video URL</label>
        <input #videoUrl="ngModel" [(ngModel)]= "video.videoUrl" name="videoUrl" id="videoUrl" type="text" class="form-control" required url>
    </div>
    <div class="alert alert-danger" *ngIf="videoUrl.touched && videoUrl.invalid">
        <div *ngIf="videoUrl.errors.required" >  videoUrl is required.</div>  
        <div *ngIf="videoUrl.errors.url" >  Please enter a valid URL.</div>    
    </div>
   <!-- file upload -->
    <!-- <div class="form-group">
      <label for="file">Upload File</label>
      <video controls (click)="toggleVideo()" id="file" #videoPlayer>
          <source src="{{videoSource}}" type="video/mp4" />
          Browser not supported
      </video>  
    </div> -->
    
<!-- file upload --> 
    <!-- <div class="form-group">
    <label for="fileupload">Upload File</label>
    <input #file (change)=" fileupload($event)"  [(ngModel)]= "fileupload " name="fileupload" type="file" class="form-control-file" id="fileupload">
    </div>
    <div class="alert alert-danger" *ngIf="file.touched && file.invalid">
        <div *ngIf="file.errors.required" >  file is required.</div>  
        <div *ngIf="file.errors.url" >  Please enter a valid URL.</div>    
    </div> -->
<!-- file upload end -->



<button class="btn btn-primary" style="margin-right: 1rem;"> Save</button>
<!-- <button type="button" (click)=" delete()" class="btn btn-danger"> Delete</button> -->

        </form>
</div>

<div class="col-md-6">

<!-- <app-product-card [product]="product" [show-actions]="false"></app-product-card> -->
<!-- <app-uploader></app-uploader> -->
</div>
</div>

